html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffdf6;
  background-image: url("images/landscape.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 3% 15% 2%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  font-weight: 400;
}

.bio-foto {
  width: 150px;
  border-radius: 100%;
}

@media(max-width:853px) {
  body {
    background-image:url("images/landscape-standing.jpg");
  }
  .bio-foto{
  width: 200px;
}
}

h1, h2, h3 {
  color: #FFF;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  font-weight: 900;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

.header {
  margin: auto;
  min-height: 720px;
}

.bio-tekst {
  text-align: justify;
}

.with-opacity {
  text-align: center;
  background: rgba(236, 232, 217, 0.15);
  margin-bottom: 20px;
  line-height: 1.5;
}

#skills {}

#projects {}

#CTA {}
